<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/static/homepage.css">
</head>
<body>
    
    <ul class="ul-nav">
        <li class="li-nav" style="margin-left: 75%;"><a class="a-nav">Home</a></li>
        <li class="li-nav"><a class="a-nav" href="/search">Search</a></li>
        <li class="li-nav"><a class="a-nav" href="/log-in">Log-out</a></li>
    </ul>
    <br>
    
    <form action="/homepage" method="post">
    <div class="results">
        <p>Tracked items:</p>
        <table>
        {% for item in items %}
        <tr>
            <th>{{item[1]}}</th> 
            <th><button type="submit" name="remove" value={{item[0]}} class="remove">REMOVE</button></th>
            <th><a target="_blank" href="http://www.google.com/maps/place/{{item[1]}}">MAPS</a></th>
        </tr>
        {% endfor %}
    </table>
    </div> 
    </form>
</body>
</html>