<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/log-in.css">
    <title>Log-in</title>
</head>
<body>
    
    <form action="/log-in" method="post">
    <div class="box">
        <input type="password" placeholder="Password" name="pass" class="log-in-field">
        <input type="submit" placeholder="Log-in" class="log-in-sublit">
        {% if forgot|length %}
            <p class="error">{{forgot}}</p>
        {% endif %}
        <button type="submit" value="forgot" name="button" class="forgott">Forgott password</button>

    </div>
    </form>
    
</body>
</html>